:root{
  --primary: rgba(255, 0, 0, 0.589);
  --secondary: #8c38ff;
  --dark: #000000;
  --light: #fffcfc;
  --white: #FFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background-color: var(--light);
}
.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
  flex-direction: column;
}

.calculator{
  width: 100%;
  max-width: 400px;
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgb(0, 0, 0, 0.2);
}

.display{
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.display span{
  font-size: 14px;
  color: #888;
}

button{
  appearance: none;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.8;
}

button:hover{
  opacity: 1;
}

.operators{
  display: flex;
}

.operators button{
  flex: 1 1 0%;
  background-color: var(--dark);
  font-weight: 700;
}
#delete{
  background-color: var(--primary);
  opacity: 0.8;
}
#delete:hover{
  opacity: 1;
}
.digits{
  display: flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 33.33%;
  max-width: 33.333%;
  background-color: var(--dark);
}


/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 15px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(40, 162, 255);
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked+.slider {
  background-color: #ffffff;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  transition: background-color 0.4s ease;
}

.dark-mode {
  background-color: var(--dark);
  color: var(--light);
  
}


